<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Начинаем</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <link href="/static/css/my_css.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <header class="card">
        <div class="card-body bg-color">
            <h5 class="card-title">Приложение 2<br>Я и моя образовательная программа</h5>
            <img src="/static/images/economics.jpeg" height="30px">
        </div>
    </header>

    
    <div class="card">

        <div class="card-body">
            <ul class="nav nav-tabs">
                
            </ul>
        </div>

        <div class="card-body">
            <h5 class='card-title text-center'> Содержание</h5>
            <pre>
    1) Я  (ФИО,  фото, электронка, телефон, резюме)

    2) Описание моей образовательной программы (ОП)( название, ссылка на страницу ОП, что я буду изучать, чему научусь, преимущества программы,  перспективы после обучения)

    3) Менеджемент на моей образовательной программе (академический руководитель ФИО, фото, электронка, менеджеры ФИО, фото, электронка)

    4) Мои сокурсники  (сокурсник 1, фото, электронка, телефон, сокурсник 2, фото, электронка, телефон)

            </pre>    

        </div>

    </div>


    <div class="card">
        <div class="card-body">
            Данные админа: http://127.0.0.1:8000/admin root root
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>